<mat-card *ngIf="auctionId && auction" class="auction-details">
  <div>Bidder Name: {{ bidderName }}</div>
  <div>Current Bid: {{ currentBid }}</div>
  <div>Reserve Price: {{ reservePrice }}</div>
  <div *ngIf="isCurrentBidder">You are the current highest bidder.</div>
  <div *ngIf="!isCurrentBidder">
    <mat-form-field>
    <mat-label>Max AutoBid Amount</mat-label>
      <input matInput
        name="bidPrice"
        [(ngModel)]="bidPrice"
        required>
    </mat-form-field>
    <button [disabled]="bidPrice === 0" mat-raised-button color="primary" (click)="bid()">Bid</button>
  </div>
</mat-card>