<div class="auction">
  <div>Welcome {{ bidderName }}</div>
  <button mat-raised-button color="primary" (click)="generateRandomAuctionItem()">Add Auction Item</button>
  <button mat-raised-button color="primary" (click)="goToLog()">Bid Log</button>

  <div class="auction-view">
    <ul>
      <li *ngFor="let auction of auctions" (click)="auctionClicked(auction)">
        <mat-card [ngClass]="{ selected: selectedAuctionId === auction.auctionItemId }">
          {{ auction.auctionItemId }}
        </mat-card>
      </li>
    </ul>
    <auction-details [auctionId]="selectedAuctionId" (error)="error($event)"></auction-details>
  </div>
</div>


